# Capstone II: Craiglist Used Car Dataset
### Part 3: Preprocessing and Model Development
Biman Mondal

May 16, 2025

Original Dataset .csv file downloaded from Kaggle:
https://www.kaggle.com/datasets/austinreese/craigslist-carstrucks-data

The goal of this capstone project is to create a model that predicts the price of a vehicle given certain dependent variables.

Step 1: Data Wrangling
Wrangled data cleaned in: CapstoneTwo_CLCarDataset_DataWrangling.ipynb
The original dataset has been *halved* to speed up reading and processing.

Step 2: EDA
The nan values have been removed where possible and imputed other places. In the mileage (odometer) column, the year and condition were used to provide the replace the null/nan values with the median.
The columns not likely to be useful in predicting price were dropped from the dataframe.

Step 3: Preprocessing 
In this notebook, further steps are taken to scrub the dataset of N/A values, imputing common values, and dropping outliers
The categorical features of the dataset will be encoded in preparation for modeling

In [ ]:
#!pip install category_encoders

In [ ]:
# Import numpy package
import numpy as np
# Import pandas package
import pandas as pd
# Import matplotlib package
import matplotlib.pyplot as plt
# Import the seaborn package
import seaborn as sns
# Import ydata-profiling package
# Import datetime
import datetime as dt
# Import category encoder
import category_encoders as ce

In [ ]:
vehicles = pd.read_csv('./data/vehicles_eda.csv', header='infer',index_col='id')
#vehicles.set_index('id', inplace=True)

In [ ]:
#vehicles = vehicles.drop([['Unnamed: 0','url', axis=1)
vehicles.sample(5)

In [ ]:
# Drop all the unnecessary columns
#vehicles.drop(model_na.index,inplace=True)
#print(help(vehicles.drop))
# Columns to drop
drop_cols = ['region','county','state','lat','long','posting_date','fuel_code','condition_code']
vehicles = vehicles.drop(drop_cols,axis=1)

In [ ]:
vehicles.info()

### Remove all NA values

In [ ]:
### Model
#dir(vehicles['manufacturer'].count())
foo = vehicles[['manufacturer','model']]

In [ ]:
model_na = vehicles.loc[vehicles['model'].isna(),['model']]
print(f'\nRemove {len(model_na)} rows with no model name.\n')
#print(model_na.index)
vehicles.drop(model_na.index,inplace=True)

In [ ]:
### Manufacturer
manufacturer_na = vehicles.loc[vehicles['manufacturer'].isna(),['manufacturer','model']]
print(f'\nRemove {len(manufacturer_na)} rows with no model name.\n')
#manufacturer_na
vehicles.drop(manufacturer_na.index,inplace=True)

In [ ]:
vehicles.info()

In [ ]:
### Drive
#print(help(vehicles['drive'].hist(align='mid')))
#vehicles['drive'].hist(align='left',edgecolor='black')
#plt.show()
drive_na = vehicles.loc[vehicles['drive'].isna(),['manufacturer','model','type','drive']]
print(f'\nThere are {len(drive_na)} rows without the drive type specified.\n')
drive_na.sample(10)
vehicles['drive'] = vehicles['drive'].fillna('fwd')

In [ ]:
### Transmission
#vehicles['transmission'].hist(rwidth=1.0,align='left')
#plt.show()
transmission_na = vehicles.loc[vehicles['transmission'].isna(),['manufacturer','model','type','transmission']]
transmission_na.sample(10)
vehicles['transmission'] = vehicles['transmission'].fillna('automatic')

In [ ]:
### Type
#vehicles.loc[vehicles['type']=='offroad',['year','manufacturer','model','type']]
type_map = {'offroad':'SUV','hatchback':'sedan','coupe':'sedan','convertible':'sedan','wagon':'sedan'}
vehicles['type'] = vehicles['type'].replace(type_map)

In [ ]:
#ax = vehicles['type'].hist(align='mid',rwidth=0.5)
#ax.set_xticklabels(ax.get_xticklabels(),rotation=60)
#plt.show()
vehicles['type'] = vehicles['type'].fillna('sedan')
vehicles.info()

In [ ]:
### Title Status
vehicles['title_status'].unique()

na_title_status = vehicles.loc[vehicles['title_status'].isna(),['manufacturer','model','title_status']]
na_title_status
# Replace na values in title_status
vehicles['title_status'] = vehicles['title_status'].fillna('clean')

# Replace missing and lien to clean
vehicles['title_status'] = vehicles['title_status'].replace({'missing': 'clean'})

In [ ]:
#vehicles['title_status'].hist(log=True)
#plt.show()

### Condense the model category 
Since there are so many model categories, they should be condensed to simplify categorization.

Assign standard labels for the top 40 vehicle models including for f-150, f-250, silverado, and other.

In [ ]:
print(f"There are {vehicles['model'].nunique()} unique models in the dataset!!")
print(vehicles['model'].value_counts().nlargest(20))
foo=vehicles['model'].value_counts()

In [ ]:
vehicles.loc[(vehicles.model.str.contains("f150"))&(vehicles.manufacturer=='ford'),'model'] = 'f-150'
f150_pattern ="f-[150]."
#vehicles.loc[vehicles.model.str.contains(f150_pattern),'model'] = 'f-150'
#vehicles.loc[((vehicles.model.str.contains(f150_pattern))&(vehicles.manufacturer=='ford')),['manufacturer','model']]
vehicles.loc[((vehicles.model.str.contains(f150_pattern))&(vehicles.manufacturer=='ford')),'model']='f-150'

In [ ]:
# Combine the f-250 model segment
vehicles.loc[vehicles.model.str.contains('f.250.'), 'model']
vehicles.loc[(vehicles.model.str.contains('.f*.250.')) & (vehicles.manufacturer=='ford'),'model'] = 'f-250'
vehicles.loc[vehicles.model.str.contains('f*.250.') & (vehicles.manufacturer=='ford'),'model'] = 'f-250'
vehicles.loc[vehicles.model.str.contains('f250') & (vehicles.manufacturer=='ford'),'model'] = 'f-250'

In [ ]:
# Combine all f-350 model segments
vehicles.loc[(vehicles.model.str.contains('.f-350.')) & (vehicles.manufacturer=='ford'),'model'] = 'f-350'
vehicles.loc[(vehicles.model.str.contains('.350.')) & (vehicles.manufacturer=='ford'),'model'] = 'f-350'
vehicles.loc[(vehicles.model.str.contains('f350')) & (vehicles.manufacturer=='ford'),'model'] = 'f-350'

In [ ]:
# Combine all the silverado 1500 
vehicles.loc[(vehicles.model.str.contains('.*silverado 1500.*')) & (vehicles.manufacturer=='chevrolet'),'model'] = 'silverado 1500'
vehicles.loc[(vehicles.model.str.contains('1500')) & (vehicles.manufacturer=='chevrolet'),'model'] = 'silverado 1500'
vehicles.loc[(vehicles.model.str.contains('silverado$')) & (vehicles.manufacturer=='chevrolet'),'model'] = 'silverado 1500'
vehicles.loc[(vehicles.model.str.contains('.*1500.*')) & (vehicles.manufacturer=='chevrolet'),'model'] = 'silverado 1500'
#vehicles.loc[vehicles.model.str.contains('silverado'), ['model','manufacturer']]

In [ ]:
# Combine all the silverado 2500 
vehicles.loc[(vehicles.model.str.contains('.*silverado 2500.*')) & (vehicles.manufacturer=='chevrolet'),'model'] = 'silverado 2500'
vehicles.loc[(vehicles.model.str.contains('2500')) & (vehicles.manufacturer=='chevrolet'),'model'] = 'silverado 2500'
vehicles.loc[(vehicles.model.str.contains('.*silverado 3500.*')) & (vehicles.manufacturer=='chevrolet'),'model'] = 'silverado 3500'

In [ ]:
# Combine all ram 1500 
vehicles.loc[(vehicles.model.str.contains('.*1500.*')) & (~vehicles.model.str.contains('.*van.*')) & (vehicles.manufacturer=='ram'),'model'] = '1500'
vehicles.loc[(vehicles.model.str.contains('.*2500.*')) & (~vehicles.model.str.contains('.*van.*'))& (vehicles.manufacturer=='ram'),'model'] = '2500'
vehicles.loc[(vehicles.model.str.contains('.*3500.*')) & (~vehicles.model.str.contains('.*van.*'))& (vehicles.manufacturer=='ram'),'model']  = '3500'
vehicles.loc[vehicles.model.str.contains('3500'), ['model','manufacturer']]

In [ ]:
vehicles.loc[(vehicles.model.str.contains('.*wrangler.*')) & (vehicles.manufacturer=='jeep'),'model'] = 'wrangler'
#vehicles.loc[vehicles.model.str.contains('.*wrangler.*'), ['model','manufacturer']]

In [ ]:
# Combine toyota tacoma models
vehicles.loc[vehicles.model.str.contains('tacoma'), 'model'] = 'tacoma'
# Combine toyota tundra models
vehicles.loc[vehicles.model.str.contains('tundra'), 'model'] = 'tundra'
vehicles.loc[vehicles.model.str.contains('.*camry.*'), 'model'] = 'camry'
vehicles.loc[vehicles.model.str.contains('.*corolla.*'), 'model'] = 'corolla'
#vehicles.loc[vehicles.model.str.contains('tundra'), ['model','manufacturer']]

In [ ]:
# Combine Honda Civic and Accord
vehicles.loc[vehicles.model.str.contains('.*accord.*'), 'model'] = 'accord'
vehicles.loc[vehicles.model.str.contains('.*civic.*'), 'model'] = 'civic'
vehicles.loc[vehicles.model.str.contains('.*escape.*'), 'model'] = 'escape'
vehicles.loc[vehicles.model.str.contains('.*altima.*'), 'model'] = 'altima'
vehicles.loc[vehicles.model.str.contains('.*explorer.*'), 'model'] = 'explorer'
vehicles.loc[vehicles.model.str.contains('.*cherokee.*'), 'model'] = 'cherokee'
vehicles.loc[vehicles.model.str.contains('.*mustang.*'), 'model'] = 'mustang'
vehicles.loc[vehicles.model.str.contains('.*fusion.*'), 'model'] = 'fusion'
vehicles.loc[vehicles.model.str.contains('.*cr-v.*'), 'model'] = 'cr-v'
vehicles.loc[vehicles.model.str.contains('.*focus.*'), 'model'] = 'focus'
vehicles.loc[vehicles.model.str.contains('.*outback.*'), 'model'] = 'outback'
vehicles.loc[vehicles.model.str.contains('.*impala.*'), 'model'] = 'impala'
vehicles.loc[vehicles.model.str.contains('.*malibu.*'), 'model'] = 'malibu'
vehicles.loc[vehicles.model.str.contains('.*rav4.*'), 'model'] = 'rav4'
vehicles.loc[vehicles.model.str.contains('.*corvette.*'), 'model'] = 'corvette'
vehicles.loc[vehicles.model.str.contains('.*charger.*'), 'model'] = 'charger'
vehicles.loc[vehicles.model.str.contains('.*grand caravan.*'), 'model'] = 'grand caravan' 
vehicles.loc[vehicles.model.str.contains('.*sierra 1500.*'), 'model'] = 'sierra 1500'
vehicles.loc[vehicles.model.str.contains('.*tahoe.*'), 'model'] = 'tahoe'
vehicles.loc[vehicles.model.str.contains('.*odyssey.*'), 'model'] = 'odyssey'
vehicles.loc[vehicles.model.str.contains('.*cruze.*'), 'model'] = 'cruze'
vehicles.loc[vehicles.model.str.contains('.*sonata.*'), 'model'] = 'sonata'
vehicles.loc[vehicles.model.str.contains('.*jetta.*'), 'model'] = 'jetta'
vehicles.loc[vehicles.model.str.contains('.*prius.*'), 'model'] = 'prius'
vehicles.loc[vehicles.model.str.contains('.*edge.*'), 'model'] = 'edge'
vehicles.loc[vehicles.model.str.contains('.*elantra.*'), 'model'] = 'elantra'

In [ ]:
# The following are the top 40 car models 
print(vehicles['model'].value_counts().nlargest(40))

In [ ]:
top_models = vehicles['model'].value_counts().nlargest(40)
top_models.index
vehicles_sub = vehicles[vehicles['model'].isin(top_models.index)]
print(vehicles.shape)
print(vehicles_sub.shape)

### Numerical Value distribution

In [ ]:
# Make subplots
#fig, axes = plt.subplots(2,2, figsize=(5, 5))
print(vehicles['price'].quantile(0.99))

vehicles = vehicles[vehicles['price']<100000]

#print(vehicles['price'].describe())
plt.hist(vehicles['price'],bins=20)
plt.show()

In [ ]:
print(vehicles['year'].quantile(0.05))
vehicles = vehicles[vehicles['year']>1990]
plt.hist(vehicles['year'],bins=30)
plt.show()

In [ ]:
print(vehicles['odometer'].quantile(0.95))
vehicles = vehicles[vehicles['odometer']<300000]
plt.hist(vehicles['odometer'],bins=20)
plt.show()

In [ ]:
#sns.histplot(vehicles['cylinders'],bins=6)
#plt.show()

In [ ]:
#sns.pairplot(vehicles[['price','year','cylinders','odometer']])
#plt.show()

### OHE The Data

In [ ]:
# Encode data
# Scale data to understand distribution?

In [ ]:
vehicles['condition'].unique()

In [ ]:
# Condition is categorical so it is suitable for single column mapping
cond_map = {'new': 1, 'like new': 2, 'excellent': 3, 'good': 4, 'fair': 5}
vehicles['condition_num'] = vehicles['condition'].map(cond_map)

In [ ]:
# Map The manufacturer

In [ ]:
print(vehicles_sub['manufacturer'].nunique())
print(vehicles_sub['manufacturer'].unique())

encoder = ce.OneHotEncoder(cols=['manufacturer','model','fuel','title_status','transmission','drive','type'], 
                           use_cat_names=True,
                            return_df=True)
vehicle_transformed = encoder.fit_transform(vehicles_sub)
vehicle_transformed.head()
print(vehicle_transformed.shape)

### Run sample regression analysis

In [ ]:
#vehicle_transformed = vehicle_transformed.drop(['condition','manufacturer','model','fuel','title_status','transmission','drive','type'],axis=1)
#vehicle_transformed.head()
#vehicle_transformed=vehicle_transformed.drop('condition',axis=1)

In [ ]:
# Import regression modules
import statsmodels.api as sm

In [340]:
X = vehicle_transformed.drop('price',axis=1)
X = sm.add_constant(X)
m = sm.OLS(vehicle_transformed['price'],X).fit()
print(m.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.744
Model:                            OLS   Adj. R-squared:                  0.744
Method:                 Least Squares   F-statistic:                     2610.
Date:                Tue, 20 May 2025   Prob (F-statistic):               0.00
Time:                        15:51:26   Log-Likelihood:            -5.9585e+05
No. Observations:               57526   AIC:                         1.192e+06
Df Residuals:                   57461   BIC:                         1.192e+06
Df Model:                          64
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                     -8.7e+05   6414.613   -135.624      0.000   -8.83e+05   -8.57e+05
year                     1094.3036      7.948    137.691      0.000    1078.726    1109.881
manufacturer_honda      -7.496e+04    892.964    -83.946      0.000   -7.67e+04   -7.32e+04
manufacturer_toyota     -6.311e+04   8819.825     -7.155      0.000   -8.04e+04   -4.58e+04
manufacturer_chevrolet  -7.453e+04   2595.208    -28.718      0.000   -7.96e+04   -6.94e+04
manufacturer_jeep        -5.99e+04    745.077    -80.392      0.000   -6.14e+04   -5.84e+04
manufacturer_ford       -7.565e+04   3986.111    -18.978      0.000   -8.35e+04   -6.78e+04
manufacturer_hyundai    -6.669e+04    755.611    -88.256      0.000   -6.82e+04   -6.52e+04
manufacturer_nissan     -7.484e+04   6043.578    -12.383      0.000   -8.67e+04    -6.3e+04
manufacturer_gmc        -6.375e+04   2797.776    -22.784      0.000   -6.92e+04   -5.83e+04
manufacturer_ram        -7.004e+04   2575.643    -27.191      0.000   -7.51e+04    -6.5e+04
manufacturer_dodge      -7.394e+04   2937.951    -25.167      0.000   -7.97e+04   -6.82e+04
manufacturer_volkswagen  -5.05e+04    570.370    -88.533      0.000   -5.16e+04   -4.94e+04
manufacturer_subaru     -4.804e+04    570.874    -84.144      0.000   -4.92e+04   -4.69e+04
manufacturer_chrysler   -7.405e+04   7516.625     -9.851      0.000   -8.88e+04   -5.93e+04
model_odyssey           -1.491e+04    369.884    -40.298      0.000   -1.56e+04   -1.42e+04
model_tundra            -1.987e+04   8587.184     -2.314      0.021   -3.67e+04   -3038.886
model_tacoma            -2.389e+04   8586.044     -2.782      0.005   -4.07e+04   -7060.165
model_silverado 1500    -1.225e+04   2674.240     -4.581      0.000   -1.75e+04   -7008.786
model_wrangler          -2.676e+04    388.319    -68.904      0.000   -2.75e+04    -2.6e+04
model_civic             -2.112e+04    284.246    -74.284      0.000   -2.17e+04   -2.06e+04
model_f-150             -1.076e+04   3643.410     -2.954      0.003   -1.79e+04   -3621.607
model_sonata            -3.254e+04    418.625    -77.738      0.000   -3.34e+04   -3.17e+04
model_cherokee          -3.314e+04    393.329    -84.259      0.000   -3.39e+04   -3.24e+04
model_rav4              -3.124e+04   8588.048     -3.638      0.000   -4.81e+04   -1.44e+04
model_mustang            -1.22e+04   3649.070     -3.344      0.001   -1.94e+04   -5048.473
model_focus             -2.452e+04   3649.581     -6.718      0.000   -3.17e+04   -1.74e+04
model_altima            -2.415e+04   6168.618     -3.914      0.000   -3.62e+04   -1.21e+04
model_camry             -3.204e+04   8585.352     -3.731      0.000   -4.89e+04   -1.52e+04
model_silverado 2500    -7655.8387   2680.136     -2.857      0.004   -1.29e+04   -2402.758
model_elantra           -3.414e+04    426.769    -80.007      0.000    -3.5e+04   -3.33e+04
model_sierra 1500       -2.138e+04   2948.130     -7.252      0.000   -2.72e+04   -1.56e+04
model_accord             -1.92e+04    283.822    -67.631      0.000   -1.98e+04   -1.86e+04
model_corolla           -3.474e+04   8581.608     -4.048      0.000   -5.16e+04   -1.79e+04
model_corvette           3943.7030   2684.329      1.469      0.142   -1317.596    9205.002
model_f-350             -5511.8944   3645.967     -1.512      0.131   -1.27e+04    1634.220
model_1500              -1.864e+04   2736.114     -6.812      0.000    -2.4e+04   -1.33e+04
model_3500              -8630.0723   2728.602     -3.163      0.002    -1.4e+04   -3281.998
model_f-250             -6348.3989   3645.155     -1.742      0.082   -1.35e+04     796.124
model_tahoe             -1.066e+04   2683.779     -3.973      0.000   -1.59e+04   -5402.404
model_charger           -2.083e+04   3225.067     -6.460      0.000   -2.72e+04   -1.45e+04
model_explorer          -1.665e+04   3641.709     -4.572      0.000   -2.38e+04   -9513.088
model_jetta              -5.05e+04    570.370    -88.533      0.000   -5.16e+04   -4.94e+04
model_escape            -2.266e+04   3648.546     -6.212      0.000   -2.98e+04   -1.55e+04
model_fusion            -2.428e+04   3649.975     -6.652      0.000   -3.14e+04   -1.71e+04
model_prius             -3.337e+04   8589.310     -3.885      0.000   -5.02e+04   -1.65e+04
model_impala            -2.302e+04   2683.162     -8.580      0.000   -2.83e+04   -1.78e+04
model_2500              -1.214e+04   2738.241     -4.434      0.000   -1.75e+04   -6774.324
model_grand caravan     -2.043e+04   3224.191     -6.336      0.000   -2.67e+04   -1.41e+04
model_cruze             -2.742e+04   2683.493    -10.220      0.000   -3.27e+04   -2.22e+04
model_edge              -1.968e+04   3653.444     -5.388      0.000   -2.68e+04   -1.25e+04
model_equinox           -2.392e+04   2682.775     -8.916      0.000   -2.92e+04   -1.87e+04
model_outback           -4.804e+04    570.874    -84.144      0.000   -4.92e+04   -4.69e+04
model_malibu            -2.495e+04   2683.959     -9.295      0.000   -3.02e+04   -1.97e+04
model_cr-v              -1.975e+04    328.864    -60.042      0.000   -2.04e+04   -1.91e+04
cylinders                  -5.7188     35.562     -0.161      0.872     -75.420      63.983
fuel_gas                -1.762e+05   1298.750   -135.696      0.000   -1.79e+05   -1.74e+05
fuel_other               -1.75e+05   1308.482   -133.764      0.000   -1.78e+05   -1.72e+05
fuel_diesel             -1.663e+05   1309.035   -127.038      0.000   -1.69e+05   -1.64e+05
fuel_hybrid             -1.756e+05   1325.270   -132.530      0.000   -1.78e+05   -1.73e+05
fuel_electric           -1.768e+05   1566.005   -112.885      0.000    -1.8e+05   -1.74e+05
odometer                   -0.0680      0.001    -94.075      0.000      -0.069      -0.067
title_status_clean      -2.885e+05   2142.339   -134.656      0.000   -2.93e+05   -2.84e+05
title_status_rebuilt    -2.929e+05   2147.669   -136.386      0.000   -2.97e+05   -2.89e+05
title_status_lien       -2.886e+05   2167.285   -133.155      0.000   -2.93e+05   -2.84e+05
transmission_automatic  -2.902e+05   2145.747   -135.248      0.000   -2.94e+05   -2.86e+05
transmission_other      -2.909e+05   2150.661   -135.246      0.000   -2.95e+05   -2.87e+05
transmission_manual     -2.889e+05   2124.316   -135.997      0.000   -2.93e+05   -2.85e+05
drive_fwd               -2.912e+05   2139.553   -136.107      0.000   -2.95e+05   -2.87e+05
drive_4wd               -2.873e+05   2144.267   -133.998      0.000   -2.92e+05   -2.83e+05
drive_rwd               -2.914e+05   2134.703   -136.525      0.000   -2.96e+05   -2.87e+05
type_van                -1.762e+05   1305.904   -134.888      0.000   -1.79e+05   -1.74e+05
type_pickup             -1.728e+05   1286.362   -134.318      0.000   -1.75e+05    -1.7e+05
type_SUV                -1.743e+05   1291.090   -135.003      0.000   -1.77e+05   -1.72e+05
type_sedan              -1.734e+05   1283.107   -135.127      0.000   -1.76e+05   -1.71e+05
type_other              -1.734e+05   1296.425   -133.721      0.000   -1.76e+05   -1.71e+05
condition_num             612.7038     54.427     11.257      0.000     506.026     719.381
==============================================================================
Omnibus:                     8588.295   Durbin-Watson:                   1.743
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           130668.274
Skew:                          -0.173   Prob(JB):                         0.00
Kurtosis:                      10.375   Cond. No.                     3.46e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.44e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

### Summary

In this notebook, the vehicle dataset was fully cleaned of N/A values. The numerical features were trimmed of the extreme values. The dataset has been prepared for modeling by encoding the remaining categorical features. 

The "model" feature of the dataset poses a significant challenges to modeling as there are over 10,000 unique categories. The "model" feature was filtered for the top 40 common models and standard labels were applied manually. The rows not associated with the top 40 models were then dropped. This results in a much smaller dataset. A more optimum manner to condense the "model" feature will need to be investigated.

The reduced dataset was OHE using category_encoders library. The preliminary linear regression fit shows a cleaner fit than during the EDA step, suggesting the dataset is properly prepared for modeling.  

Note that the original vehicle dataset was halved for speedy run times. For the next step, the original full dataset will be used to increase number of datapoints used for modeling.